@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    if(@Model != null) Layout = "_Master";
}
@if (@Model != null)
{
    <div class="text-center">
        <h1 class="display-4">Привет, @Model.Email!</h1>
        <p>Количество Ваших <a asp-action="Show" asp-controller="Note">заметок</a>: @Model.NumberOfNotes.</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Приветствуем Вас в Private Notes!</h1>
        <p>Пройдите <a asp-action="Login" asp-controller="User">авторизацию</a>, чтобы получить доступ к заметкам.</p>
    </div>
}