@model List<PrivateNotes.Entites.Note>
@{
    Layout = "_Master";
}
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Содержимое</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <th scope="row" class="col-1">@note.CreationDate</th>
                <td class="col-4 text-wrap">@note.Content</td>
                <td class="col-1">@Html.ActionLink("Delete", "Delete", new{id = note.Id})</td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>